
ul {
  list-style: none;
}
a {
  color: rgb(120, 138, 121); /* Change the color to black */
  text-decoration: underline; /* Add underline */
}
a:hover {
  color:black;
}
p {
  color:gray;
}
hr {
  border: 1px solid burlywood;
}
button {
  background-color: rgb(226, 196, 155);
  
  border: none;
}
button:hover {
  background-color:burlywood;
}

button a {
  color: rgb(0,0,0);
  text-decoration: none;
}


body {
  font-family: 'Futura';
    margin: 0;
    display: flex;
    height: 100vh;
    background-size:cover;
    background-image: url("../webimahes/background.png");
    text-align: center;
    justify-content: center;
   
  }
  .container-fluid {
    width: 90%; 
    justify-content: center;
    text-align: center;
    font-family: Futura;
  }
  .row:before .row:after{
    display:inline-block;
  }
  .main {
    margin: 5%;
    justify-content: center;
    align-items: center;
  }
 
  .image-container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }

  .view-image {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    position:fixed;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
   
  }
.menubar li {
  color: gray;
}
.on {
  color:black;
}
  .view-image img {
    width: 80%;
    border-radius: 1rem;
  }
  .view-image span {
    color:white;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 8rem;
    cursor: pointer;
  }
  .image-container img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    object-position: 50% 50%;
    transition: 0.5s;
    margin: 0.5rem;
    border-radius: 10px;
    
  }

  .image-container img:hover {
    transform: scale(1.1);
    transform: rotate(2deg);
    cursor: pointer;
  }



#ucberkeley2025 {
  color:rgb(131, 131, 131);
}


.page-divider-small {
    width: 100%;
    height: 50px;
}

.page-divider-large {
  width: 100%;
    height: 100px;
}

  .social:hover {
    transform:scale(110%);
  }

  .itchio {
    width:20px;
    margin-left: 8px;
  }
  .linkedin {
    width:20px;
    margin-left: 8px;
  }
  .socials {
    margin-left: 20px;
  }

 

  #actualpic {
    margin: 20px;
    width: 250px;
    text-align: center;
    transform: rotate(10deg);
    filter:drop-shadow(-5px 5px 5px rgb(189, 189, 189));
  }
  .heading {
    text-align: left; 
    font-family:Playfair Display;
    max-width: 2000px;
  }
  .menubar {
    text-align: right;

    max-width: 800px;
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Display list items in a row */
    justify-content: center;
    margin-top: -10px;
    margin-left:100px;
  }
  .menubar li {
    padding: 15px 20px; 
    margin-right: 50px;
    font-family: Futura;
    font-style:italic;
  }
  .menubar a {
    text-decoration: none;
    color: gray;
  }
  
  .dropdown li {
    display: block;
    margin:0;
    padding: 0;
    position:relative;
    margin:20px;
    margin-left: -20px;
  }


.dropdown {
  width:auto;
  text-align:left;
  position:absolute;
  z-index: 4;
  display:none;
  transform: translateX(-1.23rem);
  
}  
.menubar li:hover .dropdown{
  display:block;
  margin-top:15px;
  background-color:rgba(255, 252, 242, 0.8);
}
.menubar li:hover{
  display:block;
  background-color:rgb(238, 215, 184, 0.7);
  cursor:pointer;
}
