
ul {
  list-style: none;
}
a {
  color: rgb(120, 138, 121); /* Change the color to black */
  text-decoration: underline; /* Add underline */
}
a:hover {
  color:black;
}
.menubar li {
  color: gray;
}
.on {
  color:black;
}

body {
  font-family: 'Futura';
    margin: 0;
    display: flex;
    height: 100vh;
    background-size:cover;
    background-image: url("../webimahes/background.png");
    text-align: center;
    justify-content: center;
   
  }
  .container-fluid {
    width: 90%; 
    justify-content: center;
    text-align: center;
    font-family: Futura;
  }
  .row:before .row:after{
    display:inline-block;
  }
  .main {
    margin: 5%;
    justify-content: center;
    align-items: center;
  }
 
.image-container {
  margin:10px;
  background-size: cover;
  

}
.image-container img {
  width: 300px;
  position:sticky;

}
.image-container img {
  width: 300px;
  position:sticky;
  filter:drop-shadow(-5px 5px 5px rgb(189, 189, 189));
  transition: 0.5s;
}
.image-container img:hover {
  transform:rotate(-2deg);
  
}
.image-container #pic1 {
  transform:rotate(3deg);
}
.image-container #pic1:hover {
  transform:rotate(-2deg);
}
.image-container #pic2 {
  transform:rotate(-4deg);
}
.image-container #pic2:hover {
  transform:rotate(-2deg);
}
.image-container #pic3 {
  transform:rotate(2deg);
}
.image-container #pic3:hover {
  transform:rotate(-2deg);
}

.image-container #pic4 {
  transform:rotate(-5deg);
}
.image-container #pic4:hover {
  transform:rotate(-2deg);
}
.image-container #pic5 {
  transform:rotate(1deg);
}
.image-container #pic5:hover {
  transform:rotate(-2deg);
}
#profilepic {
    width: 400px;
    filter:drop-shadow(-5px 5px 5px rgb(189, 189, 189));
    transform:rotate(-5deg);
    transition:0.5s;
}
#profilepic:hover {
  transform:rotate(-2deg);
}
#ucberkeley2025 {
  color:rgb(131, 131, 131);
}
.gallery {
  margin:20px;
  
}
.galleryimg {
  margin:5px;
  width:30cap;
  align-items: flex-start;
}

.galleryimglarge {
  margin:5px;
  width:100%;
  align-items: flex-start;
  
}

.page-divider-small {
    width: 100%;
    height: 50px;
}

.page-divider-large {
  width: 100%;
    height: 100px;
}

  .social:hover {
    transform:scale(110%);
  }

  .itchio {
    width:20px;
    margin-left: 8px;
  }
  .linkedin {
    width:20px;
    margin-left: 8px;
  }
  .socials {
    margin-left: 20px;
  }

 

  #actualpic {
    margin: 20px;
    width: 250px;
    text-align: center;
    transform: rotate(10deg);
    filter:drop-shadow(-5px 5px 5px rgb(189, 189, 189));
  }
  .heading {
    text-align: left; 
    font-family:Playfair Display;
    max-width: 2000px;
  }
  .menubar {
    text-align: right;

    max-width: 800px;
    list-style-type: none; /* Remove default list styles */
    display: flex; /* Display list items in a row */
    justify-content: center;
    margin-top: -10px;
    margin-left:100px;
  }
  .menubar li {
    padding: 15px 20px; 
    margin-right: 50px;
    font-family: Futura;
    font-style:italic;
  }
  .menubar a {
    text-decoration: none;
    color: gray;
  }
  
  .dropdown li {
    display: block;
    margin:0;
    padding: 0;
    position:relative;
    margin:20px;
    margin-left: -20px;
  }


.dropdown {
  width:auto;
  text-align:left;
  position:absolute;
  z-index: 4;
  display:none;
  transform: translateX(-1.23rem);
  
}  
.menubar li:hover .dropdown{
  display:block;
  margin-top:15px;
  background-color:rgba(255, 252, 242, 0.8);
}
.menubar li:hover{
  display:block;
  background-color:rgb(238, 215, 184, 0.7);
  cursor:pointer;
}
